version: "3.9"

volumes:
  kestra_postgres_data:
  kestra_data:
  kestra_tmp:

services:

  kestra_postgres:
    image: postgres:15
    container_name: kestra_postgres
    volumes:
      - kestra_postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: kestra
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: kestra
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kestra"]
      interval: 30s
      timeout: 10s
      retries: 5

  kestra:
    image: kestra/kestra:latest
    container_name: kestra
    user: root
    command: server standalone
    volumes:
      - kestra_data:/app/storage
      - kestra_tmp:/tmp/kestra-wd
      - ./kestra:/app/flows   
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080"
    depends_on:
      kestra_postgres:
        condition: service_healthy
    environment:
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://kestra_postgres:5432/kestra
            driverClassName: org.postgresql.Driver
            username: kestra
            password: kestra

        kestra:
          repository:
            type: postgres

          storage:
            type: local
            local:
              basePath: "/app/storage"

          queue:
            type: postgres

          server:
            url: http://localhost:8080/
